.message_list {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.message_list__block {
  margin-left: 16px;
  padding: 6px 16px;
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  width: fit-content;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
}

.message_list__title {
  font-weight: 700 !important;
  color: #f4511e;
  text-align: center;
}

.message_list-img {
  align-self: flex-start;
}

.message_list__author {
  text-decoration: underline;
  font-style: italic;
  font-size: 1em;
  font-weight: 700;
}

.message_list__text {
  margin: 5px 0;
  font-size: 1em;
}
